
@import "../base/extend";

.main-tour{
    .tour{
        margin-top: 2rem;
        opacity: 0.6;
        height: 100vh;
        color: white;
        font-family: 'Merriweather Sans', sans-serif;
        display: grid;
        .img-tour{
            position: absolute;
            justify-self: center;
            margin-top: 2rem;
            height: 100vh;
            
            
        }
        .nav{
            // margin: 0 auto;
            // width: 90%;
            --state-cerrar: scale(0);
            --state-gps: scale(1);
            --state-fechas: translate(-150%);
            --state-ticket: scale(0)

            padding: 40px 0;
            display: grid;
            justify-content: space-between;
            align-items: center;
            grid-template-columns: repeat(7, max-content);
            grid-template-rows: 1fr;
            

            &:target{
                --state-cerrar: scale(1);
                --state-gps: scale(0);
                --state-fechas: translate(0);
            }
            .nav__fechas{
                font-size: 1.8rem;
                margin-top: -30rem;
                margin-left: 2.5rem;
                z-index: 1;
                transform: var(--state-fechas);
                transition: .3s transform;
            }
            .nav__gps{
                @extend %img-icon;
                // cursor: pointer;
                // grid-column: 3/7;
                // grid-row: 1/2;
                // align-self: self-start;
                transition: .4s transform;
                transform: var(--state-gps);
            }
            .nav__cerrar{
                @extend %img-icon;
                // cursor: pointer;
                // grid-column: 3/7;
                // grid-row: 1/2;
                // align-self: self-start;
                transition: .4s transform;
                transform: var(--state-cerrar);
            }
            .nav__icon{
                width: 80px;
                margin-left: 0;
                margin-top: 2rem;
            }
            .nav__links{
                background: rgba(5, 49, 74, 0.664);
                background: linear-gradient(0deg, rgba(5,49,74,1) 0%, rgba(22,88,114,1) 37%, rgba(93,213,224,0.8393732492997199) 100%);
                position: absolute;
                top: 8.8rem;
                bottom: 0;
                left: 0;
                right: 66.5%;
                padding: 0;
                display: grid;
                align-content: center;
                gap: 5rem;
                padding-left: 3%;
                list-style: none;
                height: 100vh;
                
                transform: var(--state-fechas);
                transition: .3s transform;
            }
            .ticket{
                position: absolute;
                margin-top: 45%;
                margin-left: 68%;
    
                transform: var(--state-cerrar);
                transition: .4s;

                .entrada{
                    color: white;
                    box-shadow: 2px 2px 50px #f7f4f4;
                    font-size: 1.2rem;
                    padding: 01.5rem 2rem;
                }
            }
        }
    }
}

@media (max-width: 768px){
.main-tour{
    .tour{
        img{
            width: 48rem;
        }
        .nav{
            .nav__fechas{
                font-size: 1.5rem;
                margin-left: 1rem;
            }
            .nav__links{
                top: 12.1rem;
                height: 100%;
                right: 69%;
                gap: 2rem;
                font-size: 0.7rem;
                align-self: center;
            }
            .nav__gps{
                grid-column: 2/7;
                .nav__icon{
                    width: 60px;
                    margin-left: 4rem;
                }
            }
            .nav__cerrar{
                grid-column: 2/7;
                .nav__icon{
                    width: 60px;
                    left: 1rem;
                }
            }
            .ticket{
                margin-top: 70%;
                margin-left: 65%;
            }
        }
    }
}
}

@media (max-width: 576px){
.main-tour{
    .tour{
        img{
            width: 35rem;
        }
        .nav{
            .nav__fechas{
                font-size: 1rem;
            }
            .nav__links{
                height: 100%;
                // .Julio{
                //     display: none;
                // }
            }
            .nav__gps{
                .nav__icon{
                    width: 45px;
                }
            }
            .nav__cerrar{
                .nav__icon{
                    width: 40px;
                }
            }
            .ticket{
                margin-top: 90%;
                margin-left: 50%;
            }
        }
    }
}    
}